@media (max-width:576px) {

  .tituloform {
    text-align: center;
    padding-top: 15px;
  }

  .bmenu {
    background: lightblue;
  }

  footer {
    padding-top: 3rem;
  }

}
@media (max-width:575.98px) {

  .bindex{
    width: 100%;
  }
  .pie{
    width: 100%;
  }
  
}