@media (min-width: 768px){
    .bindex {
        background: lightgray;
    }
    img{
        padding: 1rem;
    }
}
@media (min-width: 768px) {
    .titulo_ellas {
        background: none;

    }
}
@media (max-width:576px) {
    .bindex {
        background: lightgray;
    }
   

}

@media (max-width:576px) {
    .bniñas {
        background: pink;
    }
}

.titulo_ellas {
    background: white;
}

@media (max-width:576px) {
    .bniños {
        background: lightblue;
    }

    .titulo_niños {
        background: white;
    }
}
