@media (max-width: 998px) {
 
   .bnosotros{ display: flex;
  min-height: 100vh;
flex-wrap: wrap;}
footer{
  align-self: flex-end;
  justify-content: center;
  height: 50px;
}
 }
@media (max-width: 1200px) {
 
  .bnosotros{ display: flex;
 min-height: 100vh;
flex-wrap: wrap;}
footer{
 align-self: flex-end;
 justify-content: center;
 height: 50px;
}
    }
    @media (max-width:576px) {

      .tituloform {
        text-align: center;
        padding-top: 15px;
      }
    
      .bmenu {
        background: lightblue;
      }
    
      footer {
        padding-top: 3rem;
      }
    
    }