.bmenu {
    background-color: lightblue;
    min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  font-size: 18px;
  
  
.form{
    background-color: white;
  padding: 40px;
  box-shadow: 0 0 6px 0 rgba(55, 55, 55, 0.8);
  border-radius: 10px
}
    
     }