.bmenu {
    background-color: lightblue;
    min-height: 100vh;
    overflow-x: hidden;
  
    article {
        .titulo {
         @extend .titulo_bienvenida ; 
        }
      
        .parrafo{
            @extend .titulo_bienvenida;
        }
    }
    .parrafo:hover{
        background-color: beige;
    }

     }