.bniños{
background-color: lightgray;
min-height: 100vh;
position: relative;
padding-bottom: 3rem;
}
    .titulo_niños {
     font-size: 4rem;
     font-family: $fontComfortaa;
     width: 100%;
     transition: 1s;
     transition-property: all;
     transition-timing-function: ease-in-out;  
     color: map-get($mapa, $key:fondo );
    
    }
    
 
    
    .titulo_niños:hover{
    
    background-color: lightgray;
    
    }
