
.bindex{
    background-color: lightgrey ;
 width: 100%;
 min-height: 100%;
   overflow-x: hidden;
 font-size: 18px;
 

 
.titulo_bienvenida {
  
   font-size: 3rem;
   font-family: $fontComfortaa;
   width: 100%;
   transition: 1s;
   transition-property: all;
   transition-timing-function: ease-in-out;
   color: map-get($mapa, $key: fondo3);
}

.titulo_bienvenida:hover {
   background-color: white;
} 
    }

    